<html>
  <head>
    <title>Tichu Login</title>
    <script type="text/javascript" src="jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="js/http_util.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript">
      window.onload = function() {
        attach_login($('#login-widget-container'));
      };
    </script>
  </head>

  <body>
    <div id="login-widget-container"></div>
  </body>
</html>
