<html>
  <head>
    <title>Tichu</title>
    <script type="text/javascript" src="jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="js/http_util.js"></script>
    <script type="text/javascript" src="js/poll_client.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>

  <body>
    <div id="user-info" uid="{{uid}}"></div>
    <button id="create-table-button">Create table</button>
    <div id="table-list"></div>
  </body>
</html>
